{% extends 'base.html.twig' %}

{% block title %}Adsense index{% endblock %}

{% block body %}
    <h1>Adsense index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Body</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adsense in adsenses %}
            <tr>
                <td>{{ adsense.id }}</td>
                <td>{{ adsense.title }}</td>
                <td>{{ adsense.description }}</td>
                <td>{{ adsense.body }}</td>
                <td>{{ adsense.slug }}</td>
                <td>{{ adsense.createdAt ? adsense.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ adsense.updatedAt ? adsense.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('adsense_show', {'id': adsense.id}) }}">show</a>
                    <a href="{{ path('adsense_edit', {'id': adsense.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adsense_new') }}">Create new</a>
{% endblock %}
